SERVER_PORT=5000
SERVER_HOST=http://localhost:5000
KEYTOKEN=futur3
MYSQL_ROOT_USER=root
MYSQL_PASSWORD=futur3
MYSQL_PORT=3301
MYSQL_DB=future


MYSQL_HOST=localhost

REDIS_URL=redis://localhost:6390

MAILER_USERNAME=apikey
MAILER_PORT=25
MAILER_PASSWORD=
MAILER_FROM_EMAIL=
MAILER_HOST=smtp.sendgrid.net
